@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/zTree/v3/css/metroStyle/metroStyle.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/zTree/v3/js/ztree.min.js"))

    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/jquery.layout/1.4.4/jquery.layout-latest.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/jquery.layout/1.4.4/jquery.layout-latest.min.js"))
}

<div class="ui-layout-west">
    <div class="main-content">
        <div class="box box-main">
            <div class="box-header">
                <div class="box-title">
                    @localizer["Organization"].Value
                </div>
                <div class="box-tools pull-right">
                    <a type="button" class="btn btn-box-tool menuItem" href="#" onclick="showDepartmentForm()" title="@localizer["Manage Department"].Value"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-box-tool" id="btnExpand" title="@localizer["Expand"].Value" style="display:none;"><i class="fa fa-chevron-up"></i></button>
                    <button type="button" class="btn btn-box-tool" id="btnCollapse" title="@localizer["Collapse"].Value"><i class="fa fa-chevron-down"></i></button>
                    <button type="button" class="btn btn-box-tool" id="btnRefresh" title="@localizer["Refresh Department"].Value"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="ui-layout-content">
                <div id="departmentTree" class="ztree"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-div ui-layout-center">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <input type="hidden" id="departmentId" col="DepartmentId">
            <div class="select-list">
                <ul>
                    <li>
                        @localizer["User Name"].Value：<input id="userName" col="UserName" type="text" />
                    </li>
                    <li class="select-time">
                        <label>@localizer["Shift Period:"].Value </label>
                        <input id="fromDay" col="FromDay" type="text" class="time-input" placeholder="@localizer["begin Time"].Value" />
                        <span>-</span>
                        <input id="toDay" col="ToDay" type="text" class="time-input" placeholder="@localizer["End Time"].Value" />
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;@localizer["Search"].Value</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="toolbar" class="btn-group-sm">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> @localizer["Add"].Value</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> @localizer["Edit"].Value</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> @localizer["Delete"].Value</a>
            <a id="btnExport" class="btn btn-warning" onclick="exportForm()"><i class="fa fa-download"></i> @localizer["Export"].Value</a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        laydate.render({ elem: '#fromDay', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#toDay', format: 'yyyy-MM-dd' });
        let sevenDaysBefore = new Date()
        sevenDaysBefore.setDate(sevenDaysBefore.getDate() - 7)
        let sevenDaysAfter = new Date()
        sevenDaysAfter.setDate(sevenDaysAfter.getDate() + 7)
        $('#fromDay').val(sevenDaysBefore.toISOString().substring(0, 10));
        $('#toDay').val(sevenDaysAfter.toISOString().substring(0, 10));
        initGrid();
        initTree();

        $('body').layout({ west__size: 185 });

        $('#btnExpand').click(function () {
            var tree = $.fn.zTree.getZTreeObj("departmentTree");
            tree.expandAll(true);
            $(this).hide();
            $('#btnCollapse').show();
        });

        $('#btnCollapse').click(function () {
            var tree = $.fn.zTree.getZTreeObj("departmentTree");
            tree.expandAll(false);
            $(this).hide();
            $('#btnExpand').show();
        });

        $('#btnRefresh').click(function () {
            initTree();
        });
    });

    function initTree() {
        $('#departmentTree').ysTree({
            url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")',
            async: true,
            expandLevel: 2,
            maxHeight: "700px",
            callback: {
                onClick: function (event, treeId, treeNode) {
                    $("#departmentId").val(treeNode.id);
                    searchGrid();
                }
            }
        });
    }

    function initGrid() {
        var queryUrl = '@Url.Content("~/OrganizationManage/Leave/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            columns: [
                { checkbox: true, visible: true },
                //{ field: 'Id', title: 'Id', visible: false },
                { field: 'UserName', title: '@localizer["User Name"].Value', sortable: true },
                { field: 'RealName', title: '@localizer["Real Name"].Value', sortable: false },
                { field: 'DepartmentName', title: '@localizer["Department"].Value', sortable: false },
                {
                    field: 'LeaveType', title: '@localizer["Leave Type"].Value', sortable: false,
                    formatter: function (value, row, index) {
                        if (row['LeaveType'] == 0) {
                            return "@localizer["Days"].Value";
                        } else {
                            return "@localizer["Period"].Value";
                        }
                    }
                },
                { field: 'FromDay', title: '@localizer["From Day"].Value', sortable: false },
                { field: 'ToDay', title: '@localizer["To Day"].Value', sortable: false },
                { field: 'StartTime', title: '@localizer["Begin Time"].Value', sortable: false },
                { field: 'EndTime', title: '@localizer["End Time"].Value', sortable: false },
                {
                    field: 'LeaveKind', title: '@localizer["Leave Kind"].Value', sortable: false,
                    formatter: function (value, row, index) {
                        if (row['LeaveKind'] == 0) {
                            return "@localizer["Personal Leave"].Value";
                        } else if (row['LeaveKind'] == 1) {
                            return "@localizer["Annual Leave"].Value";
                        } else if (row['LeaveKind'] == 2) {
                            return "@localizer["Sick Leave"].Value";
                        } else {
                            return "@localizer["Other Leave"].Value";
                        }
                    }
                },
                { field: 'Remark', title: '@localizer["Remark"].Value', sortable: false }
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $("#searchDiv").getWebControls(pagination);
                //alert(JSON.stringify(queryString))
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $("#gridTable").bootstrapTable("getSelections");
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? "@localizer["Edit"].Value" : "@localizer["Add"].Value",
            content: '@Url.Content("~/OrganizationManage/Leave/LeaveForm")' + '?id=' + id,
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm("@localizer["Confirm To Delete"].Value" + selectedRow.length + "@localizer["Record?"].Value", function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/OrganizationManage/Leave/DeleteFormJson")' + '?ids=' + ids,
                    type: "post",
                    error: ys.ajaxError,
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }

    function showDepartmentForm() {
        var url = '@Url.Content("~/OrganizationManage/Department/DepartmentIndex")';
        createMenuItem(url, "@localizer["Manage Department"].Value");
    }

    function exportForm() {
        var url = '@Url.Content("~/OrganizationManage/Leave/ExportLeaveJson")';
        var postData = $("#searchDiv").getWebControls();
        ys.exportExcel(url, postData);
    }
</script>
