@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/zTree/v3/css/metroStyle/metroStyle.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/zTree/v3/js/ztree.min.js"))

    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/jquery.layout/1.4.4/jquery.layout-latest.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/jquery.layout/1.4.4/jquery.layout-latest.min.js"))
    <link href="@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-editable.css")" rel="stylesheet" type="text/css">
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-editable.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-table-editable.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-datepicker.zh-CN.js")' type="text/javascript"></script>
}

<div class="ui-layout-west">
    <div class="main-content">
        <div class="box box-main">
            <div class="box-header">
                <div class="box-title">
                    @localizer["Organization"].Value
                </div>
                <div class="box-tools pull-right">
                    <a type="button" class="btn btn-box-tool menuItem" href="#" onclick="showDepartmentForm()" title="@localizer["Manage Department"].Value"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-box-tool" id="btnExpand" title="@localizer["Expand"].Value" style="display:none;"><i class="fa fa-chevron-up"></i></button>
                    <button type="button" class="btn btn-box-tool" id="btnCollapse" title="@localizer["Collapse"].Value"><i class="fa fa-chevron-down"></i></button>
                    <button type="button" class="btn btn-box-tool" id="btnRefresh" title="@localizer["Refresh Department"].Value"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="ui-layout-content">
                <div id="departmentTree" class="ztree"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-div ui-layout-center">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <input type="hidden" id="departmentId" col="DepartmentId">
            <div class="select-list">
                <ul>
                    <li class="select-time">
                        <label>@localizer["Shift Cycle"].Value： </label>
                        <input id="periodBegin" col="PeriodBegin" type="text" class="time-input" placeholder="@localizer["Begin Time"].Value" />
                        <span>-</span>
                        <input id="periodEnd" col="PeriodEnd" type="text" class="time-input" placeholder="@localizer["End Time"].Value" />
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;@localizer["Search"].Value</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm" id="toolbar">
            <a id="btnSubmit" class="btn btn-primary" onclick="removeAllForm()"><i class="fa fa-plus"></i> @localizer["Submit"].Value</a>
            <a id="btnExport" class="btn btn-primary" onclick="exportForm()"><i class="fa fa-download"></i> @localizer["Export"].Value</a>
            <a id="btnExamine" class="btn btn-primary" onclick="examineForm()"><i class="fa fa-eye"></i> @localizer["Examine"].Value</a>
        </div>

        <div class="col-sm-12 select-table table-bordered">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        laydate.render({ elem: '#periodBegin', format: 'yyyy-MM-dd', done: adjustBeginDate });
        laydate.render({ elem: '#periodEnd', format: 'yyyy-MM-dd', done: adjustEndDate });

        let whichDay = new Date().getUTCDay()
        if (whichDay == 0) {
            whichDay = 7
        }
        let beginDate = new Date()
        beginDate.setDate(beginDate.getDate() - whichDay + 1)
        let endD = new Date(beginDate)
        endD.setDate(endD.getDate() + 6)
        $('#periodBegin').val(beginDate.toISOString().slice(0, 10))
        $('#periodEnd').val(endD.toISOString().slice(0, 10))
        initGrid();
        initTree();
        $('body').layout({ west__size: 185 });

        $('#btnExpand').click(function () {
            var tree = $.fn.zTree.getZTreeObj("departmentTree");
            tree.expandAll(true);
            $(this).hide();
            $('#btnCollapse').show();
        });

        $('#btnCollapse').click(function () {
            var tree = $.fn.zTree.getZTreeObj("departmentTree");
            tree.expandAll(false);
            $(this).hide();
            $('#btnExpand').show();
        });

        $('#btnRefresh').click(function () {
            initTree();
        });
        //$('#gridTable').ysTable("refresh");
        //$('#gridTable').ysTable("sortBy", { field: "UserId", sortOrder: "asc" });
        //$("#gridTable").bootstrapTable("sortBy", { field: "UserId", sortorder: "asc" });
        //$('#departmentId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")' });
    });

    function initTree() {
        try {
            $('#departmentTree').ysTree({
                url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")',
                async: true,
                expandLevel: 2,
                maxHeight: "700px",
                callback: {
                    onClick: function (event, treeId, treeNode) {
                        $("#departmentId").val(treeNode.id);
                        searchGrid();
                    }
                }
            });
        } catch (err) {
            alert(err)
        }
       
    }

    function adjustBeginDate(value, date, endDate) {
        let whichDay = new Date(value).getUTCDay()
        let beginDate = new Date(value)
        beginDate.setDate(beginDate.getDate() - whichDay + 1)
        let endD = new Date(beginDate)
        endD.setDate(endD.getDate() + 6)
        $('#periodBegin').val(beginDate.toISOString().slice(0, 10))
        $('#periodEnd').val(endD.toISOString().slice(0, 10))
    }

    function adjustEndDate(value, date, endDate) {
        let whichDay = new Date(value).getUTCDay()
        let endD = new Date(value)
        endD.setDate(endD.getDate() + 7 - whichDay)
        let beginDate = new Date(endD)
        beginDate.setDate(beginDate.getDate() - 6)
        $('#periodBegin').val(beginDate.toISOString().slice(0, 10))
        $('#periodEnd').val(endD.toISOString().slice(0, 10))
    }

    function cellStyle(value, row, index, field) {
        return {
            classes: 'bg-yellow',
            css: {
                color: 'red'
            }
        }
    }
    function rowStyle(row, index) {
        return {
            classes: 'text-nowrap another-class',
            css: { "color": "blue", "font-size": "10px" }
        };
    }

    function getMinutes(timeStr) {
        if (timeStr.length !== 5) {
            return 0
        }
        return parseInt(timeStr.substring(0, 2)) * 60 + parseInt(timeStr.substring(3))
    }

    function exportForm() {
        var url = '@Url.Content("~/OrganizationManage/Shift/ExportShiftJson")';
        var postData = $("#searchDiv").getWebControls();
        ys.exportExcel(url, postData);
    }

    function examineForm() {
        ys.openDialog({
            title: "@localizer["Data Check"].Value",
            content: '@Url.Content("~/OrganizationManage/Shift/ExamineShift")' + '?periodBegin=' + $('#periodBegin').val(),
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function initGrid() {
        var queryUrl = '@Url.Content("~/OrganizationManage/Shift/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            sortOrder: 'asc',
            onEditableSave: onEditableSave,
            sortable: true,
            sortStable: true,
            sortName: 'DepartmentId',
            //rowStyle: rowStyle,
            columns: [
                [
                    {
                        title: '@localizer["Information"].Value', align: 'center', colspan: 6, cellStyle: cellStyle
                    },
                    { title: '@localizer["Monday"].Value', align: 'center', colspan: 2 },
                    { title: '@localizer["Tuesday"].Value', align: 'center', colspan: 2 },
                    { title: '@localizer["Wednesday"].Value', align: 'center', colspan: 2 },
                    { title: '@localizer["Thursday"].Value', align: 'center', colspan: 2 },
                    { title: '@localizer["Friday"].Value', align: 'center', colspan: 2 },
                    { title: '@localizer["Saturday"].Value', align: 'center', colspan: 2 },
                    { title: '@localizer["Sunday"].Value', align: 'center', colspan: 2 }
                ],
                [
                    //{ checkbox: true, visible: true },
                    { field: 'BtrustId', title: '@localizer["User Id"].Value', cellStyle: cellStyle },
                    {
                        field: 'RealName', title: '@localizer["Real Name"].Value'
                    },
                    { field: 'DepartmentName', title: '@localizer["Department"].Value' },
                    { field: 'TotalHours', title: 'TotalHours' },
                    {
                        field: 'Remark', title: '@localizer["Remark"].Value',
                        editable: {
                            type: 'text',
                            emptytext: "Remark",
                            validate: function (value) {
                                if (value.length > 50) {
                                    return '@localizer["Remark Length"].Value';
                                }
                                // if (value.length == 0) {
                                //     return '备注不能为空';
                                // }
                            }
                        }
                    },
                    // {
                    //     field: 'UserStatus', title: '状态',
                        // align: 'center',
                        // editable: {
                        //     type: 'select',
                        //     source: [{
                        //         value: 0,
                        //         text: "停用"
                        //     }, {
                        //         value: 1,
                        //         text: "正常"
                        //     }]
                        // }
                    //},
                    {
                        title: '@localizer["Action"].Value',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="AppendShift(\'' + index + '\')"><i class="fa fa-plus"></i>@localizer["Add Shift"].Value</a>');
                            return actions.join('');
                        }
                    },
                    {
                        field: 'MondayBegin', title: '@localizer["Begin"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                        // formatter: function (value, row, index) {
                        //     if (getMinutes(row['MondayEnd']) < getMinutes(row['MondayBegin'])) {
                        //         alert('not ok')
                        //         return "wrong"
                        //     } else {
                        //         return "right"
                        //     }
                        // }
                    },
                    {
                        field: 'MondayEnd', title: '@localizer["End"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'TuesdayBegin', title: '@localizer["Begin"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'TuesdayEnd', title: '@localizer["End"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'WednesdayBegin', title: '@localizer["Begin"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'WednesdayEnd', title: '@localizer["End"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'ThursdayBegin', title: '@localizer["Begin"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'ThursdayEnd', title: '@localizer["End"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'FridayBegin', title: '@localizer["Begin"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'FridayEnd', title: '@localizer["End"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'SaturdayBegin', title: '@localizer["Begin"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'SaturdayEnd', title: '@localizer["End"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'SundayBegin', title: '@localizer["Begin"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    },
                    {
                        field: 'SundayEnd', title: '@localizer["End"].Value',
                        editable: {
                            type: 'time',
                            emptytext: "【时间】为空",
                            clear: false,
                            datepicker: { language: 'zh-CN' },//中文支持
                            validate: function (value) {
                                if (value == '') { return '@localizer["Cannot be empty"].Value' }
                            }
                        }
                    }
                ]

            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                queryString.pageIndex = 1;
                queryString.pageSize = 10000;
                return queryString;
            }
        });
    }
    function AppendShift(index) {
        let tableData = $("#gridTable").bootstrapTable("getData")
        let row = tableData[index]
        $("#gridTable").bootstrapTable("insertRow", { index: index, row: row });
        
        //searchGrid();
    }

    function getHours(row) {
        let hours = 0
        let dates = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        row['UserStatus'] = ""
        for (let day of dates) {
            let hourBegin = parseInt(row[day + "Begin"].substring(0, 2))
            let hourEnd = parseInt(row[day + "End"].substring(0, 2))
            // if (getMinutes(row[day + "End"]) < getMinutes(row[day + "Begin"])) {
            //     row['UserStatus'] = "wrong"
            // }
            hours += hourEnd - hourBegin
        }
        return hours
    }

    function onEditableSave(field, row, rowIndex, oldValue, $el) {
        let hours = getHours(row)
        //alert("字段名：" + field + "，row：" + JSON.stringify(row) + "，旧值：" + JSON.stringify(oldValue) + ", rowIndex: " + rowIndex + ", el: " + JSON.stringify($el));
        $("#gridTable").bootstrapTable("updateCell", { index: rowIndex, field: "TotalHours", value: hours });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function removeAllForm() {
        let tableData = $("#gridTable").bootstrapTable("getData")
        let shifts = []
        for (let row of tableData) {
            shifts.push(row)
            //alert(JSON.stringify(row))
        }
        var postData = {Shifts: shifts};
        postData.PeriodBegin = $('#periodBegin').val();
        if ($('#periodBegin').val().length != 10) {
            alert('请选择排班周期')
            return
        }
        ys.confirm("@localizer["Submit the data?"].Value", function () {
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Shift/SubmitFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        //searchGrid();
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        });
    }
</script>
