@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label ">@localizer["User Name"].Value</label>
            <div class="col-sm-8">
                <input id="userName" type="text" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">@localizer["Old Password"].Value<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="password" col="Password" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">@localizer["New Password"].Value<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="newPassword" col="NewPassword" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">@localizer["Confirm New Password"].Value<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="confirmPassword" col="ConfirmPassword" type="password" class="form-control" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");

    $(function () {
        $("#userName").val("@ViewBag.OperatorInfo.UserName");
        $("#password").val("");

        $("#form").validate({
            rules: {
                password: {
                    required: true
                },
                newPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                confirmPassword: {
                    required: true,
                    equalTo: "#newPassword"
                }
            },
            messages: {
                password: {
                    required: "@localizer["Input Origin Password"].Value"
                },
                newPassword: {
                    required: "@localizer["Input New Password"].Value",
                    minlength: "@localizer["Password cannot be less than 6 characters"].Value",
                    maxlength: "@localizer["Password cannot be more than 20 characters"].Value"
                },
                confirmPassword: {
                    required: "@localizer["Please enter new password again"].Value",
                    equalTo: "@localizer["The two password inputs are inconsistent"].Value"
                }
            }
        });
    });

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/User/ChangePasswordJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

