@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label ">@localizer["UserName"].Value<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="userName" col="UserName" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">@localizer["Password"].Value<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="password" col="Password" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">@localizer["RealName"].Value</label>
            <div class="col-sm-4">
                <input id="realName" col="RealName" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">@localizer["User"].Value ID</label>
            <div class="col-sm-4">
                <input class="form-control" id="btrustId" col="BtrustId" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@localizer["Status"].Value</label>
            <div class="col-sm-4" id="userStatus" col="UserStatus"></div>
            <label class="col-sm-2 control-label ">@localizer["Gender"].Value</label>
            <div class="col-sm-4" id="gender" col="Gender"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">@localizer["Birthday"].Value</label>
            <div class="col-sm-4">
                <input id="birthday" col="Birthday" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">@localizer["Department"].Value</label>
            <div class="col-sm-4">
                <div id="departmentId" col="DepartmentId"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">@localizer["Mobile"].Value</label>
            <div class="col-sm-4">
                <input id="mobile" col="Mobile" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">@localizer["Position"].Value</label>
            <div class="col-sm-4">
                <div id="positionId" col="PositionIds"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">Category</label>
            <div class="col-sm-4">
                <div id="categoryId" col="Category"></div>
            </div>
            <label class="col-sm-2 control-label ">Type</label>
            <div class="col-sm-4">
                <div id="typeId" col="Type"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">@localizer["Email"].Value</label>
            <div class="col-sm-4">
                <input id="email" col="Email" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">Wage</label>
            <div class="col-sm-4">
                <input id="wage" col="Wage" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">@localizer["Hire Date"].Value</label>
            <div class="col-sm-4">
                <input id="hireDate" col="HireDate" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">@localizer["Terminal Date"].Value</label>
            <div class="col-sm-4">
                <input id="terminalDate" col="TerminalDate" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">@localizer["Address"].Value</label>
            <div class="col-sm-10">
                <textarea id="address" col="Address" class="form-control" style="height:60px"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@localizer["Role"].Value</label>
            <div class="col-sm-10" id="role" col="RoleIds"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">@localizer["Remark"].Value</label>
            <div class="col-sm-10">
                <textarea id="remark" col="Remark" class="form-control" style="height:60px"></textarea>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        $("#userStatus").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });
        $("#gender").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(YiSha.Enum.OrganizationManage.GenderTypeEnum).EnumToDictionaryString())) });

        $("#role").ysCheckBox({
            url: '@Url.Content("~/SystemManage/Role/GetListJson")',
            key: "Id",
            value: "RoleName"
        })

        $("#positionId").ysComboBox({
            url: '@Url.Content("~/OrganizationManage/Position/GetListJson")',
            key: "Id",
            value: "PositionName",
            class: "form-control",
            multiple: true
        });

        $("#categoryId").ysComboBox({
            class: "form-control",
            data: ys.getJson(@Html.Raw(typeof(YiSha.Enum.OrganizationManage.UserCategoryEnum).EnumToDictionaryString()))
        });

        $("#typeId").ysComboBox({
            class: "form-control",
            data: ys.getJson(@Html.Raw(typeof(YiSha.Enum.OrganizationManage.UserTypeEnum).EnumToDictionaryString()))
        });

        $('#departmentId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")' });

        laydate.render({ elem: '#birthday', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#hireDate', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#terminalDate', format: 'yyyy-MM-dd' });

        getForm(id);

        $("#form").validate({
            rules: {
                userName: { required: true },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                mobile: { isPhone: false},
                email: { email: true}
            }
        });
    });

    function getForm() {
        if (id > 0) {
            $('#password').attr("readonly", "readonly").attr("disabled", "disabled");

            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/User/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        $("#form").setWebControls(result);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            defaultData.UserName = "";
            defaultData.Password = ""
            defaultData.UserStatus = "@StatusEnum.Yes.ParseToInt()";
            $("#form").setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.DepartmentId = ys.getLastValue(postData.DepartmentId);
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/User/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>
